<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="col-12 text-center">
        <form method="post" th:action="@{/logout}">
            <div class="h4 font-weight-bold">Hello <span class="font-italic font-weight-light" th:text="${username}"/>!</div>
            <button class="btn btn-sm btn-danger" type="submit">Sign out</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </div>
</div>
<script src="stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script>
        const onSessionExpired = () => {
          window.location.assign(window.location.origin);
        };

        const sockJS = new SockJS('/ws-api/v1');
        const socket = Stomp.over(sockJS);
        socket.heartbeat.outgoing = 0;
        socket.heartbeat.incoming = 60000;

        // headers, onConnect, onError, onClose
        socket.connect({}, undefined, undefined, onSessionExpired);

        window.onbeforeunload = () => {
          sockJS.onclose = function () {}; // disable onclose handler first
          sockJS.close();
        };
</script>
</body>
</html>