<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign up</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
  <a th:href="@{/login}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Login</a>
  <a th:href="@{/registration}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Registration</a>
  <div class="container">
    <form class="form-signin" method="post" th:action="@{/registration}">
      <h2 class="form-signin-heading">Please sign up</h2>
      <div class="alert alert-danger" role="alert" th:if="${param.error != null}" th:text="${param.error}"></div>
      <div class="alert alert-success" role="alert" th:if="${param.success != null}" th:text="${param.success}"></div>
      <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
      </p>
      <p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      </p>
      <p>
        <label for="confirm" class="sr-only">Confirm</label>
        <input type="password" id="confirm" name="confirm" class="form-control" placeholder="Confirm" required>
      </p>
      <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Sign up</button>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
  </div>
</body>
</html>
